<!-- CProgram/templates/header.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Let's Code</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Question:question_list' %}">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usermode:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usermode:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usermode:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
